.footer {
   background-image: url("../../assets/img/wooden.jpg");
   color: #ecf0f1;
   text-align: center;
   padding: 1rem 0;
   position: relative;
   bottom: 0;
   width: 100%;
   font-family: 'Arial', sans-serif;
   font-size: 0.9rem;
}
